<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="header">
    Welcome to {{ title }}!
  </h1>
</div>

<!-- Top Bar -->
<div class="top-bar navbar-dark">
  <div class="top-bar-left">
    <ul class="menu">
      <li><a class="nav-link" (click)="showCurrentForecast()">Current Forecast</a></li>
      <li><a class="nav-link" (click)="showHistoricalForecast()">Historical Forecast</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Location"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
</div>
<div class="grid-x grid-padding-x">
  <!-- Side bar -->
  <div class="cell-small-1 fixed-sidebar">
    
  </div>
  <!-- sub-components -->
  <div class="cell-small-11">
    <app-current-forecast id="currentForecast"></app-current-forecast>
  </div>
</div>
